<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cinema.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

</head>

<body class="h-100">
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <header>
        <nav class="cinema-1 shadow">
            <div class="ContainerImagem">
                <div class="d-flex flex-row mb-3 position-relative">
                    <div class="p-2">
                        <img class="imagem-bg" src="~/Imagens/cinema (1).png" />
                    </div>
                    <div class="p-2">
                        <h class="font_segoe">Cinema</h>
                    </div>
                    <a class="p-2 position-absolute top-0 end-0 d-flex flex-row mb-3" asp-controller="Login" asp-action="Sair">
                    <div class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                            <path d="M7.5 1v7h1V1h-1z" />
                            <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                        </svg>
                    </div>

                    <div class="p-2">Sair</div>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="cinema m-1">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                @{
                   string user =  new Cinema.Helper.Sessao(HttpContextAccessor).BuscarSessaoUsuario().Login;
                }
                <div class="h-25">@user.ToUpper()</div>
                
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item ContainerImagem">
                    <a class="nav-link border-0" aria-current="page"asp-controller="SalaModels" asp-action="Index">
                        <div class="cinema">
                            <img class="imagem m-2" src="~/Imagens/tela-de-cinema.png"/>
                            Salas
                        </div>
                    </a>
                </li>
                <li class="ContainerImagem">
                    <a class="nav-link" asp-controller="FilmesModels" asp-action="Index">
                        <div class="cinema">
                            <img class="imagem m-2" src="~/Imagens/filme.png" />
                            Filmes
                        </div>
                    </a>
                </li>
                <li class="ContainerImagem">
                    <a class="nav-link" asp-controller="SessaoModels" asp-action="Index" >
                        <div class="cinema">
                            <img class="imagem m-2" src="~/Imagens/cinema.png" />
                            Sessões
                        </div>
                    </a>
                </li>
        
            </ul>
            <hr>
        
        </div>

        <div class="container-fluid m-2">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
